.list {
  margin: 24px 0;;
}

.list label{
  display: block;
  margin-bottom: 8px;
  font-size: 24px;
  padding: 5px;
}

.list select{
  width: 100%;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box;
}